@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
#root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 300px;
    background-color: #837f7f;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    box-shadow: 7px 7px 5px 0px rgb(50, 50, 50, 0.5);
}

.circle {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;     
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #deb887;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #deb887;
}

.btn {
    display: flex;
    align-items: center;     
    justify-content: center;
    background-color: black;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}